doctype html
html(lang="en")
  head
    title Sales List
    link(rel="stylesheet" href="/css/saleslist.css")
    link(rel="stylesheet" href="/css/stocklist.css")   
  body
    h1 Sales List
    table
      thead
        tr
          th Produce Name
          th Quality
          th Price Per kg
          th Total Amount
          th Action
          th
      tbody
        each sale in sales
          tr
            td #{sale.producename}
            td #{sale.quantity}
            td #{sale.price}
            td #{sale.total}
            td 
              a(href="/update-sales-page/"+sale._id class="edit-btn") Edit
            td
              form(method="POST" action="/delete-sale")
                input(type="hidden" name="id" value=sale._id)  
                button(class="delete-btn" type="submit") Delete
        else 
          tr
            td(colspan="6") No sales added yet!
